body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #D2E1EB;
}

.app {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
}

.title-section h1 {
  
  color: #005591;
  width: 85px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.search-ui {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #D2E1EB;
}

.left-half, .right-half {
  width: 45%;
}

.search-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center; /* Aligns items on the line (same as the current line height) */
  justify-content: space-between; /* Distributes items evenly in the line; first item is on the start line, last item on the end line */
  border: 1px solid #BEC8D7;
  padding: 5px;
  border-radius: 5px;
  margin: auto;
}

.weight-customize {
  margin-top: -15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px; 
  font-size: small;
}

.search-bar {
  flex-grow: 1; /* Takes up the remaining space */
  padding: 10px;
  border: none;
  outline: none;
  background-color: white;
}

.clear-button, .search-button, .generate-table-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  
}


.clear-button {
  font-size: 1.5rem;
}

.search-button, .generate-table-button{
  background-color: #005591;
  color: white;
  padding: 10px 20px;
}

.search-history {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  z-index: 1;
}

.history-item {
  padding: 10px;
  cursor: pointer;
}

.history-item:hover {
  background: #f0f0f0;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.domain-list {
  
  padding: 20px;
  border: 1px solid #ccc;
  background-color: white;
}

.document-name {
  margin-bottom: 10px;
}

.error-popup {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #f44336;
  color: #fff;
}

.customization-section input[type="number"] {
  width: 30px;
}

.customization-section {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numDocs-customization {
  background-color: #e8e8e8;
  width: 330px;
}


.user-input-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.user-input-field {
  width: 80%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: white;
  margin-bottom: 10px;
}

.user-input-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user-input-field {
  flex-grow: 1;
  padding: 10px;
  border: none;
  outline: none;
  background-color: white;
}

.add-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  color: #005591;
  background-color: #005591;
  color: white;
  padding: 10px 20px;
}


.user-keyword-section{
  display: flex;
}
/**/
.keyword-bar {
  flex-grow: 1; /* Takes up the remaining space */
  padding: 10px;
  border: none;
  outline: none;
  background-color: white;
}

.keyword-add-button {
  cursor: pointer;
  color: #005591;
  width: 120px;
  height: 50px;
}

.keyword-add-button-container{
  display: flex; 
  justify-content: center; /* Centers its children horizontally */
  align-items: center; /* Centers its children vertically */
}

.keyword-clear-button {
  font-size: 1.5rem;
}

.keyword-add-button {
  background-color: #005591;
  color: white;
  padding: 10px 20px;
}

.user-input-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  width: 100%;
}

.user-input-item {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: white;
}

.user_index_check_upload {
  display: flex;
  align-items: center;
}

.user_index_section {
  padding: 20px;
  border: 5px solid #ccc;
  margin-right: -31px;
}

.user_search_section{
  padding: 20px;
  border: 5px solid #ccc;
  margin-right: -31px;
}

.Linde_logo_image {
  width: 13%; 
  height: 13%;
}

.logo_section{
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
}

.logo_text{
  background-color: #00A0E1;
  color: white;
  font-size: 75%;
  width: 145px;
  padding: 7px;
  margin-bottom: 70px;
  margin-left: 10px;
  margin-top: 0px;
}

.excel-generate-section {
  padding-left: 20px;
  padding-bottom: 66px;
  border: 5px solid #ccc;
  margin-left: -31px;
}

.user-keyword-section{
  padding: 20px;
  border: 5px solid #ccc;
  margin-left: -31px;
}

.excel-generate-section input {
  display: block;
  margin-bottom: 10px;
  width: 75px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
